h1 {
    color: red;
}

p {
    font-family: sans-serif;
}

p span {
    color: orange;
}

p del {
    color: grey;
}

p mark {
    color: dimgrey;
    background-color: pink;
}

h2 {
    text-align: center;
}

pre {
    font-family: monospace;
    font-size: 80%;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: serif;
}

p span a {
    color: darkgreen;
}

p del {
    color: grey;
}

p mark {
    color: darkblue;
    background-color: pink;
}

h2 {
    text-align: left;
    font-family: sans-serif;
}

pre {
    font-family: monospace;
    font-size: 100%;
}

h3 {
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}

body {
    background-image: url(cross.png);
    background-color: #DCF5F5;
}

h1 {
    color: black;
}

#content {
    background-color: white;
}

.fancy {
    font-family: cursive;
    color: black;
}

.blue {
    color: blue;
}

#content {
    border: darkgrey solid 1px;
    border-radius: 8px;
    position: absolute;
}

hr {
    color: #CFDFE4;
}

.red-border {
    border: red solid 1px;
}

.red-outline {
    outline: red solid;
    color: black;
}

.blue-border {
    border: blue solid;
}

.rounded-top {
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}

.rounded-bottom {
    border-radius: 0px 0px 8px 8px;
}

.outer {
    background-color: blue;
    display: flex;
    justify-content: center;
}

.inner {
    background-color: yellow;
    text-align: right;
    box-sizing: border-box;
}

.inner1 {
    margin: 10px 20px;
    padding: 12px;
    height: 200px;
    width: 700px;
}

.inner2 {
    padding: 12px;
    height: 400px;
    width: 400px;
}

.outer2 {
    margin-top: 20px;
}