h1 {
    color: red;
}

/* p {
    font-family: sans-serif;
} */

p span {
    color: orange;
}

p del {
    color: grey;
}

p mark {
    color: dimgrey;
    background-color: pink;
}

h2 {
    text-align: center;
}

/* pre {
    font-family: monospace;
    font-size: 80%;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: serif;
} */

p span a {
    color: darkgreen;
}

p del {
    color: grey;
}

p mark {
    color: darkblue;
    background-color: pink;
}

h2 {
    text-align: left;
    font-family: sans-serif;
}

/* pre {
    font-family: monospace;
    font-size: 100%;
} */

h3 {
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}

body {
    background-image: url(cross.png);
    background-color: #DCF5F5;
}

h1 {
    color: black;
}

#content {
    background-color: white;
}

/* .fancy {
    font-family: cursive;
    color: black;
} */

.blue {
    color: blue;
}

#content {
    border: darkgrey solid 1px;
    border-radius: 8px;
    position: absolute;
}

hr {
    color: #CFDFE4;
}

.red-border {
    border: red solid 1px;
}

.red-outline {
    outline: red solid;
    color: black;
}

.blue-border {
    border: blue solid;
}

.rounded-top {
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}

.rounded-bottom {
    border-radius: 0px 0px 8px 8px;
}

.outer {
    background-color: blue;
    display: flex;
    justify-content: center;
}

.inner {
    background-color: yellow;
    text-align: right;
    box-sizing: border-box;
}

.inner1 {
    margin: 10px 20px;
    padding: 12px;
    height: 200px;
    width: 700px;
}

.inner2 {
    padding: 12px;
    height: 400px;
    width: 400px;
}

.outer2 {
    margin-top: 20px;
}

.headings {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Noto Serif', serif;
}

#content blockquote {
    font-family: 'Raleway';
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}

#content h4 {
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

#content div {
    display: flex;
    justify-content: center;
}

#content div i {
    color: #BFCFD4;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: darkgrey;
    color: white;
}

.horizontal-list li {
    float: left;
    padding: 0.4em 1em;
}

.horizontal-list li:hover {
    background-color: white;
    text-shadow: 1px 1px 1px lightgrey;
    color: darkgrey;
}

.dotted-list {
    list-style-type: square;
}

.roman-list {
    list-style-type: lower-roman;
}

.fancy {
    border-collapse: collapse;
    width: 500px;
}

.fancy th, td {
    padding: 0.2em;
}

.fancy th {
    color: white;
    background-color: darkslategrey;
    text-align: left;
    font-family: serif;
}

.fancy tr {
    border-bottom: 2px solid darkgrey;
    color: black;
    background-color: white;
}

.fancy tr:nth-child(even) {
    background-color: #f8f8f8;
}

.complex {
    border-collapse: collapse;
    width: 500px;

}

.complex th, td {
    padding: 0.2em;
}

.complex th {
    color: black;
    background-color: palegoldenrod;
    text-align: left;
    font-family: serif;
    border: 2px solid black;
}

.complex td {
    color: black;
    background-color: white;
    text-align: left;
    font-family: serif;
    border: 2px solid grey;
}

.white-grey {
    background-color: white;
    margin: 5px;
    padding: 0 0.3em;
    border: darkgrey solid 1px;
    border-radius: 8px;
    box-sizing: border-box;
}

.contain {
    width: 600px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin: 0;
}

.left {
    float: left;
    width: 190px;
    height: 400px;
    overflow: auto;
    border-radius: 8px 0 0 8px;

}

.right {
    float: left;
    overflow: hidden;
    height: 400px;
    width: 390px;
    position: relative;
}

#red-box {
    text-align: center;
    border: 1px solid red;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}

#spacer {
    width: 1000px;
    height: 100px;
}